# Logging
LOG_LEVEL=your_log_level
LOG_FORMAT=your_log_format (str)

# Bot
BOT_TOKEN=your_bot_token

# Proxy
PROXY_TYPE=http
PROXY_IP=your_proxy_ip
PROXY_PORT=your_proxy_port
PROXY_LOGIN=your_proxy_login
PROXY_PASSWORD=your_proxy_password